NEXT_PUBLIC_URL_BACKEND=http://localhost:3002
NEXT_PUBLIC_SUPABASE_URL=https://iirvtjsmfzkmazewvaor.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=your-publishable-key
GOOGLE_OAUTH_CLIENT_ID=your-google-oauth-client-id
GOOGLE_OAUTH_CLIENT_SECRET=your-google-oauth-client-secret
LOGIN_USERNAME=RM.ENTRENADOR
LOGIN_PASSWORD=123456
